*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    display: flex;
    min-height: 500px;
    width: 80%;
    padding: 0 3rem;
    bordeR: 2px solid black;
}

.left-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.right-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: 0 3rem;
}

.category{
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    gap: 1rem;
    cursor: pointer;
}

.category > img {
    width: 3rem;
    height: 3rem;
}

h1{
    font-size: 3rem;
    font-weight: 100;
}

span{
    font-weight: 900;
}


.question-p-element{
    font-size: 2rem;
}