*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #113f67;
    color: white;
}

.wrapper{
    display: flex;
    min-height: 400px;
    width: 80%;
    padding: 0 3rem;
  
}

.left-wrapper{
    display: flex;
    flex-direction: column;
    
   
    width: 100%;
    gap: 1rem;
    padding: 2.5rem 0;
}
.right-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: 0 3rem;
}


.category{
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    gap: 1rem;
    cursor: pointer;
    background-color: #1c588c;
}

.category > img {
    width: 3rem;
    height: 3rem;
}

h1{
    font-size: 3rem;
    font-weight: 100;
}


.question-p-element{
    font-size: 2rem;
}





button{
   height: 3rem;
   padding: 2rem 1.5rem;
   border-radius: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #e6b93e;
   color: white;
   font-size: 1.2rem;
   cursor: pointer;
}

.choice{
    padding: 1.2rem 1.5rem;
}

.answer-selected{
    background: blueviolet;
}

.correct-answer{
    background: green;
}

.incorrect-answer{
    background: red;
}

.correct-blink{
    animation: blink 0.5s linear 2;
}

@keyframes blink {
    0%, 100% {
        background-color: transparent;
    }

    50% {
        background-color: green;
    }
}