@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}



.profile-pic{
    width: 8rem;
    border-radius: 50%;
}

.project-one > img{
    width: 18rem;
    height: 10rem;
    border: 2px solid black; 
    border-radius: 1rem;
}