@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
}

.project{
    cursor: pointer;
}

.profile-pic{
    width: 8rem;
    border-radius: 50%;
}

.inner-panel > ul {
    color: #9fd3c7;
}

.project > a > img{
    width: 18rem;
    height: 10rem;
    border: 2px solid black; 
    border-radius: 1rem;
}

.project > p {
    font-family: "Fraunces", sans-serif;
    font-weight: bold;
}