*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    --custom-blue: #0ea5e9;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    
}

#sidebar{
    padding: 2rem;
    background-color: var(--custom-blue);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}


.heading{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.top-portion-sidebar, .bottom-portion-sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top-portion-sidebar > div, .bottom-portion-sidebar > div{
    
    display: flex;
    align-items: center;
    gap: 1rem;

}

 .top-portion-sidebar > div > i, .top-portion-sidebar > div > p, .bottom-portion-sidebar > div > span, .bottom-portion-sidebar > div > p, .mdi-magnify{
    font-size: 1.3rem;
    font-weight: 500;
}

.main-page{
  display: grid;
  grid-template-rows: 1fr 5fr;
 
}

.top-bar{
  
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  box-shadow: 0 1px 10px #c9c8c7; ;
  padding: 2rem;
}

.upper-topbar{display: flex; justify-content: space-between;}

.input-div{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  
}

input{
  width: 80%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #e3e3e3;
}

.upper-topbar > div{
  display: flex;
  align-items: center;
  gap: 2rem;
  
}

.bell{
 font-size: 1.2rem;
 font-weight: 600;
  
}

button{
  background-color: var(--custom-blue);
  color:white;
  padding: 0.7rem 1.8rem;
  border: none;
  border-radius: 1rem;
  font-size: 0.9rem;
}

.bottom-topbar{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-bottom-topbar{
  display: flex;
  gap: 1.2rem;
}

.left-bottom-topbar > span{
  font-weight: 600;
  font-size: 0.8rem;
}

.left-bottom-topbar > p{
  font-weight: 700;
  font-size: 1.4rem;
}


@media (max-width: 1800px) {
    .container {
      grid-template-columns: 1fr 4fr;
    }
  }
  
  /* Small devices (laptops, 992px and up) */
  @media (max-width: 992px) {
    .container {
      grid-template-columns: 1fr 3fr;
    }
  }
  
  /* Extra small devices (phones, 768px and up) */
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }