*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

h1{
    font-size: 1.5rem;
}

.main-container{
    display: flex;
    height: 100%;
   
}

.side-panel{
    border: 2px solid black;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.inner-panel{
    border: 2px solid red;
}

.profile-pic{
    width: 8rem;
    height: 9rem;
    border-radius: 50%;
}

.project-one > img{
    width: 18rem;
    height: 10rem;
    border: 2px solid black; 
    border-radius: 1rem;
}