*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.main-container{
    display: flex;
    height: 100%;
   
}

.side-panel{
    border: 2px solid black;
}

.project-one > img{
    width: 18rem;
    height: 10rem;
    border: 2px solid black; 
    border-radius: 1rem;
}