@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter", sans-serif;
}

body{
    
    padding: 2rem;
    background-color: hsl(36, 100%, 99%);
}

ul, .dive{
    color: hsl(236, 13%, 42%);
}

.side-panel{
    background-color: hsl(240, 100%, 5%);
}

.read-more{
    background-color: hsl(5, 85%, 63%);
    letter-spacing: 3px;
}

.small-text{
    font-size: 13px;
    color: #989898;
    
}

hr{
    border: 0.4px solid hsl(236, 13%, 42%);
}

.numbers{
    color: hsl(5, 85%, 63%);
    font-size: 1.5rem;
    font-weight: bold;
}