@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter", sans-serif;
}
body{
    height: 100vh;
    padding: 2rem;
    background-color: hsl(36, 100%, 99%);
}

ul{
    color: hsl(236, 13%, 42%);
}

.side-panel{
    background-color: hsl(240, 100%, 5%);
}