@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

body{
    height: 100vh;
   
   
}



.main-content{
    position: relative;  
    
}


.main-right{
   
 
    background-repeat: no-repeat;
    
    background-position: bottom -10% right 70%;
    background-size: cover;
    

}


.main-right > img{
    
}


.invite{
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 0.7rem 1.5rem;
    border-radius: 1.4rem;
    color: white;
    font-size: 0.9rem;
}

.category{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    
}

.container{
   
}