@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    --cyan-gradient : linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

body{
    height: 100vh;
   
   
}









.invite{
    background: var(--cyan-gradient);
    padding: 0.7rem 1.5rem;
    border-radius: 1.4rem;
    color: white;
    font-size: 0.9rem;
}

.category{
    
    
    
    flex: 1;
   
}

.text-div{
    max-width: 500px;
    
}

.drop-down {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
   
}

.drop-down.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    
}

.menu-border{
    border-bottom: 4px solid ;
    border-image: var(--cyan-gradient) 1;
}