*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

body{
    height: 100vh;
}

.main-content{
    position: relative;
    overflow: hidden;
    height: 100vh;
}


.main-right{
   
    background-image: url('./images/bg-intro-desktop.svg');
    background-position: cover;
    background-repeat: no-repeat;
    
    overflow: hidden;
   
}

.main-left{
    width: 80%;
}

.main-content > img{
    position: absolute;
    right: 0;
    transform: translate(15%, 0%);
}