*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", serif;
    --red: hsl(14, 86%, 42%);
}

body{
  
    padding: 4rem 5rem;
    background: hsl(20, 50%, 98%);
    
}
.desserts-container{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    padding: 1rem 2rem;
}

.main{
    
    
   display: flex;
}

.dessert-item{
  
   display: flex;
   flex-direction: column;
   margin: 0;
}


.dessert-item img{
  
 max-height: 200px;
 border-radius: 0.5rem;
}

h1{
    font-weight: 700;
}
.dessert-name{
   font-weight: 500;
   margin: 0;
}

.category{
    font-size: 14px;
    color: grey;
    margin-top: 2rem;
    margin-bottom: 0;
}

.pricing{
    margin: 0;
    color: var(--red);
    font-weight: 500;
}