@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
    --darkish-gray: hsl(232, 10%, 55%);
}

body{
   height: 100vh;
}

.top-container{
    background-image: url("../images/desktop/image-header.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
}

.arrow{
    margin: 7% auto;
}


.testimonial-inner > div > img{
    border-radius: 50%;
    width: 5rem;
}

.testimonial-inner > div {
 
  
    color: var(--darkish-gray);
  
}



.bottom-container{
    padding: 5rem;
    background-color: hsl(169, 53%, 69%);
}

ul > li {
    cursor: pointer;
}