*{
    font-family: "Kumbh Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    --dark-gray: hsl(219, 9%, 45%);
}

h2{
    font-weight: 700;
    font-size: 2.2rem;
}

header, .left-header, ul, .right-header{
    display: flex;
    align-items: center;
}


header{
    margin: 0 12rem;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}


.right-header, .left-header{
    gap: 2.2rem;
}

ul{
    list-style-type: none;
    gap: 1rem;
    font-size: 1rem;
    color: grey;
}

.avatar-icon{
    width: 3rem;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin: 0 10rem;
    gap: 8rem;
}

.left-main{
    
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right-main{
    
    height: 500px;
    width: 500px;
}

h1{
    font-size: 2.5rem;
}

.sneaker-title{
    color: var(--dark-gray);
    font-size: 0.9rem;
    font-weight: 700;
}

.description{
    width: 85%;
    color: grey;
}

.pricing-div{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0;
    
    gap: 1rem;
}

h3{
    font-size: 1.8rem;
    margin: 0
}


.percent{
    background: black;
    color: white;
    padding: 0.2rem 0.6rem;
    font-weight: 600;
    border-radius: 0.5rem;
    
}
.strikethrough-price{
    text-decoration:line-through ;
    color: var(--dark-gray);
    font-weight: 700;
}

.big-image{
    width: 450px;
    border-radius: 1rem;
}

.smaller-images-div{
    display: flex;
    justify-content: space-between;
}

.smaller-images{
    width: 90px;
    border-radius: 1rem;
}

.pricing-buttons{
    margin-top: 2rem;
    display: flex;
    width: fit-content;
    gap: 1rem;
}

.quantity-button{
    background-color: hsla(221, 61%, 90%, 0.24);
    width: 9rem;
    height: 3.2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    
}

span{
    font-size: 0.9rem;
    font-weight: 800;
}

.add-to-cart-button{
    background: hsl(26, 100%, 55%);
    width: 16rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 0.5rem;
    font-weight: 700;
}

