@import "tailwindcss";

.hero-section{
  background-image: url('./images/desktop/image-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat
}

.main-text{
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}